BusOperationsClient_991535377/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FinalBusService_991535377" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FinalBusService_991535377" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BusInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BusInfo" nillable="true" type="tns:BusInfo" />
  <xs:complexType name="ArrayOfBusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusInfo" nillable="true" type="tns:BusInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusInfo" nillable="true" type="tns:ArrayOfBusInfo" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>