LoginClient_991535377/Connected Services/ServiceReference1/BusServices_991535377.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusServices_991535377" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAuthenticateUser_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FinalBusService_991535377" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBOperations_AddBus_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBus" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_AddBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusResponse" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_GetAllBus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBus" />
  </wsdl:message>
  <wsdl:message name="IDBOperations_GetAllBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateUser_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateUser_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBOperations">
    <wsdl:operation name="AddBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBOperations/AddBus" message="tns:IDBOperations_AddBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBOperations/AddBusResponse" message="tns:IDBOperations_AddBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBOperations/GetAllBus" message="tns:IDBOperations_GetAllBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBOperations/GetAllBusResponse" message="tns:IDBOperations_GetAllBus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAuthenticateUser">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateUser/GetAllUsers" message="tns:IAuthenticateUser_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateUser/GetAllUsersResponse" message="tns:IAuthenticateUser_GetAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBOperations" type="tns:IDBOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBus">
      <soap:operation soapAction="http://tempuri.org/IDBOperations/AddBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBus">
      <soap:operation soapAction="http://tempuri.org/IDBOperations/GetAllBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IAuthenticateUser" type="tns:IAuthenticateUser">
    <wsp:PolicyReference URI="#NetTcpBinding_IAuthenticateUser_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticateUser/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusServices_991535377">
    <wsdl:port name="BasicHttpBinding_IDBOperations" binding="tns:BasicHttpBinding_IDBOperations">
      <soap:address location="http://localhost:8080/BusService_991535377" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IAuthenticateUser" binding="tns:NetTcpBinding_IAuthenticateUser">
      <soap12:address location="net.tcp://localhost:8090/BusService_991535377" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/BusService_991535377</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-UOPBC4C\zhn09</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>